<div class="profile-sidebar">
  <div class="profile-userpic">
    <%= image_tag @user.avatar.thumb.url, class: "img-responsive" %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name"><%= @user.name %></div>
    <div class="profile-usertitle-job"><%= @user.email %></div>
  </div>
  <div class="profile-userbuttons">
    <div id="relationship">
      <%= render "relationship_form" %>
    </div>
  </div>
  <div class="profile-usermenu">
    <ul class="nav">
      <li class="<%= "active" if @type == Settings.users.timeline %>">
        <%= link_to user_path(@user), class: "profile-link" do %>
          <i class="glyphicon glyphicon-home"></i>
          <%= t "users.show.timeline" %>
        <% end %>
      </li>
      <li class="<%= "active" if @type == Settings.users.reading_history %>">
        <%= link_to user_path(@user, type: Settings.users.reading_history),
          class: "profile-link" do %>
          <i class="glyphicon glyphicon-book"></i>
          <%= t "users.show.reading_history" %>
        <% end %>
      </li>
      <li class="<%= "active" if @type == Settings.users.favorite_books %>">
        <%= link_to user_path(@user, type: Settings.users.favorite_books),
          class: "profile-link" do %>
          <i class="glyphicon glyphicon-star"></i>
          <%= t "users.show.favorite_books" %>
        <% end %>
      </li>
      <% if current_user == @user %>
        <li class="<%= "active" if action_name == "edit" %>">
          <%= link_to edit_user_path(@user), class: "profile-link" do %>
            <i class="glyphicon glyphicon-user"></i>
            <%= t "users.show.setting" %>
          <% end %>
        </li>
      <% end %>
      <% unless current_user.admin? %>
        <li class="<%= "active" if @type == Settings.users.requests %>">
          <%= link_to user_path(@user, type: "requests"),
            class: "profile-link" do %>
            <i class="glyphicon glyphicon-th"></i>
            <%= t "users.show.requests" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
