<div class="row">
  <div class="col-md-12 block profile">
    <div class="col-md-3">
      <%= render "left_panel" %>
    </div>
    <div class="col-md-9 book-container">
      <% @users.each do |user| %>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <%= image_tag user.avatar.thumb.url, class: "img-responsive" %>
            </div>
            <div class="col-md-9">
              <h3><%= user.name %></h3>
              <div id="relationship_<%= user.id %>">
                <%= render "relationship_form", user: user %>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
      <%= will_paginate @users %>
    </div>
  </div>
</div>


