<div class="row">
  <div class="col-md-12 block profile">
    <div class="col-md-3">
      <div id="leftPanel">
        <%= render "left_panel" %>
      </div>
    </div>
    <div class="col-md-9">
      <div id="rightPanel">
        <div class="row">
          <div class="col-md-12 block">
            <h1>
              <%= t "books.show.title" %>
            </h1>
            <table class="table table-striped">
              <tr>
                <th><%= t "books.show.book_title" %></th>
                <th><%= t "books.show.author" %></th>
                <th><%= t "books.show.time" %></th>
                <th><%= t "books.show.status" %></th>
                <th></th>
                <th></th>
              </tr>
              <%= render @requests %>
            </table>
            <%= will_paginate @requests %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
