<tr id="request_<%= request.id %>">
  <td>
    <%= request.book_title %>
  </td>
  <td>
    <%= request.author %>
  </td>
  <td>
    <%= request.created_at.strftime Settings.date_format  %>
  </td>
  <td>
    <span class="label label-<%= request.cancel? ? "default" : "success" %>"
      id="requestStatus_<%= request.id %>">
      <%= t "application.labels.#{request.status}" %>
    </span>
  </td>
  <td>
    <% unless request.cancel? %>
      <%= link_to t("application.labels.cancel"), request_path(request),
        class: "btn btn-danger action_#{request.id}", method: :patch, remote: true,
        data: {confirm: t("application.messages.confirm")} %>
    <% end %>
  </td>
</tr>
