<div class="row">
  <div class="col-md-12 block">
    <h1>
      <%= t ".title" %>
      <span>
        <%= link_to t("application.buttons.add"), new_admin_category_path,
          class: "btn btn-primary" %>
      </span>
    </h1>

    <table class="table table-striped">
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".description" %></th>
        <th></th>
        <th></th>
      </tr>
      <%= render @categories %>
    </table>

    <%= will_paginate %>
  </div>
</div>
