<div class="row">
  <div class="col-md-12 block">
    <h1>
      <%= t ".title" %>
    </h1>

    <table class="table table-striped">
      <tr>
        <th><%= t ".book_title" %></th>
        <th><%= t ".author" %></th>
        <th><%= t ".user" %></th>
        <th><%= t ".time" %></th>
        <th><%= t ".status" %></th>
        <th></th>
        <th></th>
      </tr>
      <%= render @requests %>
    </table>

    <%= will_paginate %>
  </div>
</div>
