<div class="row">
  <div class="col-md-12 block">
    <h1>
      <%= t ".title" %>
    </h1>

    <table class="table table-striped">
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th></th>
      </tr>
      <%= render @users %>
    </table>

    <%= will_paginate %>
  </div>
</div>
