<%= form_for [@book, @review], html: {class: "reviews-form"} do |f| %>
  <%= f.hidden_field :rating, value: @review.rating, id: "rating" %>
  <div class="form-group">
    <%= f.label :rate %>
    <select id="rate-stars">
      <option value="1"></option>
      <option value="2"></option>
      <option value="3"></option>
      <option value="4"> </option>
      <option value="5"></option>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit t("application.buttons.save"), class: "btn btn-primary" %>
  </div>
<% end %>
