<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#navbarCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("application.general.title"), root_path, class: "navbar-brand" %>
    </div>

    <%= search_form_for @q, class: "navbar-form navbar-left" do |f| %>
      <%= hidden_field_tag :type, :search %>
      <%= f.search_field :title_or_description_cont,
        placeholder: t("books.general.search"), class: "form-control" %>
    <% end %>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("application.general.about"), about_path %></li>
        <% if user_signed_in? %>
          <li>
            <%= link_to t("application.buttons.request_new_book"), new_request_path,
              id: "requestBook", "data-modal-title": t("requests.general.request_new_book"),
              class: "btn btn-primary btn-sm" %>
          </li>
        <% end %>
       </ul>
    </div>
  </div>
</div>
